# All variable names must start with VITE_
# When adding/removing variables, remember to also update them in 'src/vite-env.d.ts'
# https://vitejs.dev/guide/env-and-mode.html

VITE_APP_NAME="My React App"
VITE_I18N_DEBBUG=true
VITE_STAR_WARS_API_BASE_URL=
VITE_VIA_CEP_API_BASE_URL=